<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>develop page</title>
    <style>
        h1{
            text-align: center;
        }
       .div1{
           background-color: cadetblue;
       }
       .div2{
        background-color: rgb(153, 152, 194);
       }
    </style>
</head>
<body>
    <h1>Developer</h1>
    <div class="div1">
        <h2>Shaon Indrajit Barua Alex</h2>
        <h3>Facebook ID - <a href="https://www.facebook.com/indrajitalex.nan/">https://www.facebook.com/indrajitalex.nan/</a></h3>
    </div>
    <div class="div2">
        <h2>Kahakashan Ashraf</h2>
        <h3>Facebook ID - <a href="https://www.facebook.com/Kahakashan.ashraf.9">https://www.facebook.com/Kahakashan.ashraf.9</a></h3>
    </div>
    <div class="div1"> 
        <h2>Rezuana Haque Megha</h2>
        <h3>Facebook ID - <a href="https://www.facebook.com/rezuanahaque.megha">https://www.facebook.com/rezuanahaque.megha</a></h3>
    </div>
    <div class="div2">
        <h2>Tahmina Hoque</h2>
        <h3>Facebook ID - <a href="https://www.facebook.com/tahmina.hoque.7106">https://www.facebook.com/tahminahoque24hrs@gmail.com</a></h3>
    </div>
    

</body>
</html>