<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
             
        }
        div{
            background-color: darkolivegreen;
            height:300px;
        }
        body{
            background-color: rgb(220, 221, 226);
        }
        p{
            color:rgb(12, 39, 39);
            font-family: "Times New Roman", Times, serif;
            font-size: 20px;
            

        }
        img{
            float: right;
        }
    </style>
</head>
<body>
    <h1>Mission and objects</h1>
    <div><img src="https://lh3.googleusercontent.com/proxy/jQ-nIMFeZsOQwaTZsMXhLhbiIAq67oFo7DExEhzpU-_OPjw4JPFlHx4GeMp_kevoREWuJukpHrWuxGIivcclC7Y0WqaWLvjsSAUTNpQ" alt="Library" height="300px" width="600px">
        <h2>Objective of Building a Library Management System</h2>
        <p>  A library management system enhances the efficiency of both the librarians and the library
            users. It also enables librarians to easily catalog books and keep proper records of books
            issued, reissued, and those not returned.
            We’re going to build a library management system, a web application that will contains the
            record of the library. All the books of a library, the available books, the borrowed books,
            renewing a book and late fine charge all types of information will be recorded in this system.
            It will manage all the process involved in a library. It will save time both of a student and a
            librarian through removing the manual record. Any book seeker can rent a book through
            signing in with details.</p>
    </div>
    <h2 >Activities</h2>
    <h3>● Add or delete books</h3> 
    <h3>● Search for a book</h3>
    <h3>● Issue books</h3>
    <h3>● Return books</h3>
    <h3>● Maintain the database</h3>
    <h3>● View user details</h3>
</body>
</html>