<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="LMS_P.css">
    <title>About Us</title>
</head>
<body style="background-color: rgb(237, 239, 243);">
    <h1>EAST DELTA UNIVERSITY</h1>
    <div class="container1">
        <img src="https://i.ytimg.com/vi/WsWfc4xSjPg/maxresdefault.jpg" class="image" >
        <div class="Upper_effect">
            <div class="hover">Welcome to East Delta University central library</div>
        </div>
    </div>
    <div class="container">
        <h1>About us</h1>
        <table class="table">
            <tr>
                <th><a href="http://127.0.0.1:5500/ex_info.html" target="blank">Mission and objectives</a></th>
                <th><a href="http://127.0.0.1:5500/devlop.html" target="blank">Developers</a></th>
            </tr>
        </table>
    </div>

</body>
</html>