{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">EDU Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'issuedBooks' %}">Issued Books</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'lateSubmissions' %}">Late Submissions</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'returnedBooks' %}">Returned Books</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Book List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
        </li>
      </ul>
    </div>

    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  </nav>