{%  extends 'accounts/main.html' %}
{% block content %}

<hr>
<h2>Your Dashboard</h2>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Book name</th>
                    <th>Date Issued</th>
                    <th>Status</th>
                </tr>

                {% for order in orders %}
                <tr>
                    <td>{{order.book}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>

                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>

{% endblock content %}